body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
main {
    padding: 20px;
}

.catalogo {
    text-align: center;
}

.catalogo h2 {
    margin-bottom: 20px;
}

.producto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.producto:hover {
    transform: scale(1.03);
}

.producto img {
    width: 100%;
    height: auto;
}

.producto-info {
    padding: 15px;
}

.producto-info h3 {
    margin: 0;
}

.producto-info p {
    margin: 10px 0;
}

.precio {
    font-weight: bold;
    color: #007bff;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

